@import '../variables_mixings/colors-and-fonts';

.gallery {
    h2 {
        margin-top: 54px;
        margin-bottom: 14px;
    }
    .img-container {
        display: flex;
        flex-wrap: wrap;
        img {
            width: 100%;
        }
    }
}

@media screen and (min-width: 960px) {
    .gallery {
    
        h2 {
            margin-top: 70px;
            margin-bottom: 40px;
            margin-left: 13.9%;
            font-size: 48px;
        }
        .img-container {
            display: flex;
            flex-wrap: wrap;
            img {
                width: 33.33333%;
            }
        }
    }
}